@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
body {
  text-align: center;
  font-family: "Libre Caslon Text", serif;
  background-image: linear-gradient(
    to bottom right,
    #ebbf85 0%,
    #e4f7fa 50%,
    #ffffff 100%
  );
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f0c992;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#lista li {
  list-style-type: none;
  border: 10px solid #ccc;
  padding: 10px;
}

#lista li p img {
  width: 8px;
  height: 8px;
}
.spinner {
  display: block;
  margin: auto;
}
