@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");

#mapeo1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Libre Caslon Text", serif;
  font-size: 1.1rem;
  gap: 30px;
  justify-content: center;
  
  
}
#mapeo1 li {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  border: 5px solid #f0c992;
  padding: 10px;
  background-color: #ffffff;
  width: fit-content;
  gap: 5px;
  
}

#mapeo1 li li {
  list-style-type: none;
  border: 0px solid #f0c992;
  padding: 10px;
  background-color: #ffffff;
  
}

.procPedido {
  position: relative;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.procPedido:hover {
  font-size: 1.1rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

.vaciarCarrito {
  position: relative;
  width: 150px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-right: 10px;
}
.vaciarCarrito:hover {
  font-size: 1.1rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

#botoncitos {
  justify-content: space-between;
}

#preciofinal{
  font-size: 1.5rem;
}

#span{
  font-family: "Libre Caslon Text", serif;
}
