#cabecera {
  display: flex;
  align-items:center;
  justify-content: center;
}

.login1 {
  position: relative;
  width: 150px;
  height: 50px;
  margin-right:20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.login1:hover {
  font-size: 1.3rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

.registrarse {
  position: relative;
  width: 150px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.registrarse:hover {
  font-size: 1.3rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

