#mapeo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

#mapeo li {
  list-style-type: none;
  border: 5px solid #f0c992;
  padding: 10px;
  background-color: #ffffff;
}

#mapeo li li {
  list-style-type: none;
  border: 2px solid #f0c992;
  padding: 10px;
  background-color: #ffffff;
}

#botonpedidos {
  --c:  #f0c992; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;

}
#botonpedidos:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
#botonpedidos:active {
  box-shadow: 0 0 9e9q inset rgba(222, 73, 9, 0.6); 
  background-color: var(--c);
  color: #fff;
}