.cerrarSesion {
  position: relative;
  width: 150px;
  height: 40px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.cerrarSesion:hover {
  font-size: 1.1rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

#textoRecogida{
  font-weight:bold;
}

#volverInicio{
  position: relative;
  width: 150px;
  height: 40px;
  margin-top:30px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

#volverInicio:hover{
  font-size: 1.1rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

#negrita{
  font-weight:bold;
}

#borrarEntrega1 {
  --c:  #f0c992; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  font-family: system-ui, sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;

}
#borrarEntrega1:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
#borrarEntrega1:active {
  box-shadow: 0 0 9e9q inset rgba(222, 73, 9, 0.6); 
  background-color: var(--c);
  color: #fff;
}


