@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");

.botonAñadir {
  position: relative;
  width: 70px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.textoProductos {
  font-weight: bold;
  font-size: 20px;
}
.botonAñadir:hover {
  background: #ffab91;
}
.logoTienda {
  height: 200px;
  width: 200px;
}
.fotos {
  height: 300px;
  width: 280px;
}

#productosresultados {
  font-family: "Libre Caslon Text", serif;
}

#tituloTienda {
  font-size: 20px;
}

#volver {
  position: relative;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
#volver:hover {
  font-size: 1.3rem;
  color: #ff8a66;
  border-bottom: 3px solid #ffab91;
}

#lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
