#cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textoUser {
  flex: 1;
}

.textoRegistro {
  flex: 1;
}

#botonesLogin {
  position: relative;
  display: block;
  justify-content: flex-start;
  margin-top: 20px;
}

.login {
  position: relative;
  width: 70px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.login:hover {
  background: #ffab91;
}

.registro {
  position: relative;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background: #f0c992;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.registro:hover {
  background: #ffab91;
}

#botonesSignin {
  margin-top: 10px;
  display: block;
}

#inputsFormulario {
  margin-top: 5px;
}
#voluntario {
  margin-top: 5px;
}
#span {
  font-size: 19px;
}
